.anim1 {
    animation-name: title;
    animation-duration: 1s;

    animation-name: title;
    animation-timing-function: linear;
    animation-fill-mode: fowards;
}

@keyframes title {
    0% {
           transform: translateX(100%);
    }
    90% {
           transform: translateX(40%);
    }
    100% {
           transform: translateX(45%);
    }
}
