.anim1 {
    animation-name: title;
    animation-duration: 1s;

    animation-name: title;
    animation-timing-function: linear;
    animation-fill-mode: fowards;
}

@keyframes title {
    0% {
           left:100%;
    }
    80% {
           left: 40%;
    }
    90% {
          left: 55%;
    }
    100% {
        left: 50%
    }
}
