.anim1 {
    animation-name: title;
    animation-duration: 1s;
    transform: translateX(100%);
    animation: title;
    animation-timing-function: linear;
}

@keyframes title {
    0% {
        left: 100%;
    }
    90% {
        left: 40%;
    }
    100% {
        left: 50%;
    }
}
